<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>
<style>
    .lis{
        color: aqua;
    }
</style>
<body>
    <div id="app">
        {{msg}}
        <div>
            <input type="text" v-model="info">
            <button @click="add">添加</button>
        </div>
        <ul>
            <todo-item v-for="item in list" :item="item"></todo-item>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        Vue.component('todo-item',{
            props:['item'],
            template:"<li class='lis'>{{item}}</li>"
        })
        new Vue({
            el: "#app",
            data() {
                return {
                    msg: "hello world",
                    info: '',
                    list:[]
                }
            },
            methods:{
                add(){
                    this.list.push(this.info);
                    this.info=''
                }
            }
        })
    </script>
</body>

</html>